<div class="action-toolbar">
  @if (showSearch) {
    <div class="search-container">
      <i class="bi bi-search"></i>

      <input
        class="form-control"
        type="text"
        [placeholder]="placeholder"
        [ngModel]="searchText"
        (ngModelChange)="onSearch($event)"
      />
    </div>
  }

  <div class="toolbar-actions">
    <ng-content select="[toolbarActions]"></ng-content>

    @if (showButton) {
      <button type="button" [class]="buttonClass" (click)="onAdd()">
        <i class="bi me-2" [ngClass]="buttonIcon"> </i>

        {{ buttonText }}
      </button>
    }
  </div>
</div>
