.badge-success {
  background: var(--success-light);

  color: var(--success);
}

.badge-warning {
  background: var(--warning-light);

  color: var(--warning);
}

.badge-danger {
  background: var(--danger-light);

  color: var(--danger);
}

.badge {
  padding: 8px 14px;

  border-radius: 999px;

  font-weight: 600;
}
