.search-box {
  position: relative;

  max-width: 420px;

  width: 100%;
}

.search-box i {
  position: absolute;

  left: 16px;

  top: 50%;

  transform: translateY(-50%);

  color: var(--gray-500);
}

.search-box input {
  padding-left: 44px;
}
