.table {
  margin-bottom: 0;
}

.table thead {
  background: var(--gray-100);
}

.table thead th {
  border: none;

  font-size: 15px;

  font-weight: 700;

  padding: 16px;
}

.table tbody td {
  vertical-align: middle;

  padding: 16px;
}

.table tbody tr {
  transition: 0.25s;
}

.table tbody tr:hover {
  background: var(--primary-light);
}
