<!--<footer class="footer">
  <div class="footer-bottom">
    <span><i class="bi bi-c-circle"></i> {{ currentYear }} Employee Skills Summary</span>

    <span><i class="bi bi-code-slash"></i> Version 1.0.0</span>

    <span><i class="bi bi-person-workspace"></i> Developed by Sunil Singh</span>
  </div>
</footer>-->

<footer class="footer">
  <div class="container-fluid">
    <div class="footer-content">
      <div>
        © {{ currentYear }}
        Employee Skills Management System
      </div>

      <div>Version 1.0</div>
    </div>
  </div>
</footer>
